.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 134, 91);
  font-family: Georgia, 'Times New Roman', Times, serif;
}